name: Automated API tests using Postman CLI

on: push

jobs:
  automated-api-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Install Newman and Dependencies
        run: npm install -g newman newman-reporter-htmlextra
      
      - name: Run API Collection and Generate HTML Report
        run: |
          newman run "${{secrets.collection_url}}" --env-var="baseUrl=${{secrets.baseUrl}}" -r htmlextra --reporter-htmlextra-export "newman/report.html"
      
      - name: Upload Newman Report to GitHub Pages
        uses: actions/upload-artifact@v2
        with:
          name: newman-report
          path: newman/index.html
          
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: newman
          branch: gh-pages
      
        
