name: Automated API tests using Postman CLI

on: push

jobs:
  automated-api-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Install Newman and Dependencies
        run: npm install -g newman newman-reporter-htmlextra
      
      - name: Run API Collection and Generate HTML Report
        run: |
          newman run "${{secrets.collection_url}}" --env-var="baseUrl=${{secrets.baseUrl}}" -r htmlextra --reporter-htmlextra-export "newman/report.html"
      
      - name: Upload Newman Report to GitHub Pages
        uses: actions/upload-artifact@v2
        with:
          name: newman-report
          path: newman/index.html
          
      # - name: Deploy
      #   uses: JamesIves/github-pages-deploy-action@v4
      #   with:
      #     folder: newman
      #     branch: main
      - name: Configure Git
        run: |
          git config --global user.email "raselinfo52@gmail.com"
          git config --global user.name "raselinfo"
      
      - name: Commit and Push Newman Report to GitHub Pages
        run: |
          git checkout gh-pages
          git add newman/report.html
          git commit -m "Add Newman report"
          git push --set-upstream origin gh-pages

      # - name: Deploy
      #   uses: JamesIves/github-pages-deploy-action@v4
      #   with:
      #     folder: newman
      #     branch: gh-pages
        
